# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Encryption-Decryption/task/out/test/classes/
/Problems/Basic calculator/out/
/Problems/Basic calculator/out/production/classes/
/Problems/Catching some exceptions/out/
/Problems/Catching some exceptions/out/production/classes/
/Problems/Converting and multiplying/out/
/Problems/Converting and multiplying/out/production/classes/
/Problems/Get the game mode/out/
/Problems/Get the game mode/out/production/classes/
/Problems/Getting input/out/
/Problems/Getting input/out/production/classes/
/Problems/Parameters and their values/out/
/Problems/Parameters and their values/out/production/classes/
/Problems/Project constants and methods/out/
/Problems/Project constants and methods/out/production/classes/
/Problems/Saying animals/out/
/Problems/Saying animals/out/production/classes/
/Problems/Sorting arrays/out/
/Problems/Sorting arrays/out/production/classes/
/Problems/String to double conversion/out/
/Problems/String to double conversion/out/production/classes/
/Problems/The index of an argument/out/
/Problems/The index of an argument/out/production/classes/
/Problems/The longest word/out/
/Problems/The longest word/out/production/classes/
/Problems/Too many cats/out/
/Problems/Too many cats/out/production/classes/